.background {
    background-image: url("/public/1.gif");
    height: 100vh;
    background-size: 100% 100%;
    min-height: 650px;
}

.interface {
    position: relative;
}

.header-inner {
    height: 120px;
    display: flex;
    justify-content: flex-end;
}

.interface .title-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2.3px;
    font-weight: 100;
}

.login-button {
    margin-right: 100px;
    margin-top: 50px;
    border: solid 3px #429763;
    color: #429763;
    font-size: 25px;
    font-weight: 900;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.login-button:hover {
    background-color: #429763;
    color: white;
    transition: .3s;
}

.login-button .arrow-right {
    margin-top: 2px;
    margin-left: 10px;
}

.interface {
    display: flex;
}

.interface .title {
    display: flex;
    justify-content: center;
}

.interface .title h1 {
    font-weight: 800;
    display: flex;
    margin: 0px;
    font-size: 60px;
    color: #1e3b39;
    -webkit-text-stroke: 3px;
}

.interface .title h1 p {
    margin: 0px;
}

.interface .sub-title {
    display: flex;
    justify-content: center;
}

.interface .sub-title h3 {
    display: flex;
    margin: 0px;
    font-weight: 700;
    font-size: 40px;
    color: #1e3b39;
    -webkit-text-stroke: 1px;
}

.interface .sub-title h3 p {
    color: #4d8978;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.interface .description {
    display: flex;
    justify-content: center;
}

.interface .description p {
    font-size: 20px;
    width: 500px;
    text-align: center;
    font-weight: 500;
    font-family: montserrat;
    -webkit-text-stroke: .6px;
}

.interface-inner-right {
    position: absolute;
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}

.interface-inner-left {
    width: 100%;
    min-width: 250px;
}

.mining-button-wrap {
    width: 120px;
    height: 120px;
    background: #f7e9cf;
    border-radius: 70px;
    padding: 15px;
    cursor: pointer;
    margin-right: 200px;
    -webkit-text-stroke: 1px;
}



.mining-button-wrap button {
    width: 90px;
    height: 90px;
    background-color: #fdd37f;
    border-radius: 50px;
    border: 0px;

    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.mining-button-wrap button a {
    color: red;
    text-decoration: none;
}

.mining-button-wrap:hover {
    width: 130px;
    height: 130px;
    padding: 20px;
    margin-right: 195px;
    margin-top: -5px;
    transition: .5s;
}

.sidemenu-button {
    margin-top: 55px;
    font-size: 30px;
    color: #429763;
    margin-right: 20px;
    cursor: pointer;
}

.content {
    background: linear-gradient(180deg, #7DF2FD 1.68%, #FFFFFF 48.32%, #FED480 100%);
}

@media only screen and (max-width: 1300px) {
    .mining-button-wrap {
        margin-right: 100px;
    }

    .mining-button-wrap:hover {
        margin-right: 95px;
    }
}

@media only screen and (max-width: 1100px) {
    .interface .title h1 {
        font-size: 40px;
        margin-bottom: 10px;
        -webkit-text-stroke: 2px
    }

    .interface .title-stroke {
        -webkit-text-stroke-width: 1px
    }

    .interface .sub-title h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .interface .description p {
        font-size: 18px;
        margin-bottom: 10px;
        width: 60%;
    }

    .mining-button-wrap {
        margin-right: 50px;
    }

    .mining-button-wrap:hover {
        margin-right: 45px;
    }
}

@media only screen and (max-width: 900px) {
    /* .mining-button-wrap button {
        width: 80px;
        height: 80px;
        font-size: 14px;
    } */

    /* .mining-button-wrap {
        width: 100px;
        height: 100px;
        padding: 10px;
    } */
}

@media only screen and (max-width: 800px) {


    .background {
        background-size: 200% 120%;
        background-position-x: center;
        height: 80vh;
    }

    .mining-button-wrap {
        margin-right: 0px;
        width: 80px;
        height: 80px;
        padding: 10px;
    }

    .mining-button-wrap button {
        width: 60px;
        height: 60px;
        -webkit-text-stroke: 0px;
        font-size: 14px;
    }

    .mining-button-wrap:hover {
        margin-right: -10px;
        margin-top: -10px;
        width: 100px;
        height: 100px;
        padding: 20px;
    }

    .interface-inner-left {
        position: absolute;
        top: 100px;
    }

    .interface-inner-right {
        padding-right: 50px;
    }

    .interface .title h1 {
        margin-bottom: 0px;
    }

    .interface .sub-title {
        margin-top: 5px;
    }

    .interface .sub-title h3 {
        flex-direction: column;
        align-items: center;
    }

    .interface .description p {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .interface .title h1 {
        font-size: 30px;
    }

    .interface .sub-title h3 {
        font-size: 25px;
    }

    .interface .description p {
        font-size: 15px;
    }

    .background {
        background-size: 250% 120%;
    }
}

@media only screen and (max-width: 440px) {
    .interface .title h1 {
        font-size: 30px;
    }

    .interface .sub-title h3 {
        font-size: 20px;
    }

    .interface .description p {
        width: 90%;
    }

    .interface .title h1 {
        margin-top: 10px;
        margin-bottom: 10px
    }
}

@media only screen and (max-width: 350px) {
    .interface .title h1 {
        font-size: 30px;
    }

    .interface .sub-title h3 {
        font-size: 15px;
    }

    .interface .description p {
        font-size: 12px;
    }
}